.container_global
	%nav.navbar.navbar-default#front-navbar.navbar-fixed-top.hidden-xs
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to main_app.root_path do
				= image_tag "LOGO.png", width: "35%", style: "margin-top:10px; margin-bottom: 10px; margin-right:20px; padding-left: 10px;" , class: "pull-left"     
		.collapse.navbar-collapse.pull-right.nav#front-navbar-2
			%ul.nav.navbar-nav.top-nav
				%li= link_to 'HOME', "#home", class:"li_color"
				%li= link_to 'SERVICIOS', "#services", class:"li_color"
				%li= link_to 'NOSOTROS', "#nosotros", class:"li_color"
				%li= link_to 'PORTAFOLIO', "#portafolio", class:"li_color"
				%li= link_to 'TEAM', "#about", class:"li_color"
				%li= link_to 'CONTACTO', "#contacts", class:"li_color"

	.container_text
		.row
			.col-lg-6.col-md-6.col-sm-12.col-xs-12
				.responsive-container
					.centered
						%h3
							HOLA
					.titles
						%ul.scrollable
							%li#text-1
								HOY ES EL DIA EN QUE TUS IDEAS SE VUELVAN REALIDAD
							%li#text-2
								EXPANDE TU EMPRESA O MARCA EN INTERNET
							%li#text-3
								LAS ULTIMAS TECNOLOGIAS EN DISEÑO WEB
							%li#text-4
								CONSULTORIAS PROFESIONALES EN SERVICIOS WEB
				%center
					%a.btn.btn-primary{:href => "#"} Conocenos

			.col-lg-6.col-md-6.col-sm-12.col-xs-12.img-responsive
				= image_tag "mobile2.png", class:"image_home", id:"image_home"
