#home   
	= render 'home'
#services   
	= render 'services'
#nosotros
	= render 'nosotros'
#portafolio
	= render 'portafolio'
#about	
	= render 'about'
#contacts
	= render 'contacts'
#footer
	= render 'footer'
 